<script type='text/javascript'>
  var fonts = [{ 
    name: "Fredoka One", 
    files: ["/injertos/participantes/salome/fredokaone-regular-webfont.woff", "/injertos/participantes/salome/fredokaone-regular-webfont.woff2"] 
  }];
  
  var options = {
    initialText: "MILPA",
    order: [["fontsize"], "tester"],
    ui: {
      fontsize: {
        init: 96,
        step: 1,
        unit: "px",
      }
    }
  };
  
  var sampler = new Fontsampler(document.getElementById("font_sampler"), fonts, options);
  FontsamplerSkin(sampler);
  sampler.init();
</script>