<style>
  table, th, td, tr {
    border: none
  }
</style>

<script type='text/javascript'>
  var fonts = [{ 
    name: "Crisis", 
    files: ["/injertos/participantes/assets_pierre/crisis.woff", "/injertos/participantes/assets_pierre/crisis.woff2"] 
  }];
  
  var options = {
    initialText: "M A L E Z A",
    order: [["fontsize"], "tester"],
    ui: {
      fontsize: {
        init: 65,
        step: 1,
        unit: "px",
      }
    }
  };
  
  var sampler = new Fontsampler(document.getElementById("font_sampler"), fonts, options);
  FontsamplerSkin(sampler);
  sampler.init();
  
  var lightbox_1 = new SimpleLightbox('.gallery_1 a');
  var lightbox_2 = new SimpleLightbox('.gallery_2 a');
</script>